.dropdown-toggle::after {
    display: none;
  }
.text-decoration-none{
  text-decoration: none!important;
}
/* Font Awesome Icons have variable width. Added fixed width to fix that.*/
.icon-width { width: 2rem;}
.navbar-toggler {
    border: 0 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
  }
  
  /* Lines of the Toggler */
  .toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
  }
  
  /* Adds Space between the lines */
  .middle-bar{
    margin: 5px auto;
  }
  
  /* State when navbar is opened (START) */
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  /* State when navbar is opened (END) */
  
  /* State when navbar is collapsed (START) */
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  /* State when navbar is collapsed (END) */
  
  /* Color of Toggler when collapsed */
  .navbar-toggler.collapsed .toggler-icon {
    background-color: #777777;
  }

  


  body,
  html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
  }
  
  .arkey-text h1 {
    
    font-weight: bold;
   margin: 10px;
  color:#ca9439;
  }
  
  
  
  .exclusions {
    font-family: Georgia;
    font-size: 8pt;
    letter-spacing: 1px;
    text-shadow: none;
    font-style: normal;
  }
  
  .arkey-image {
    background-image: url("images/arke-banner.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .arkey-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-exclusions {
    position: fixed;
    text-align: center;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .arkey-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 35px;
    color: white;
    background-color: #552b27;
    text-align: center;
    cursor: pointer;
    border: 5px solid #552b27;
    margin-left: -1px;
    margin-top: 5%;
    font-size: 8pt;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: Geogia;
    font-syle: italic;
  }
  
  .arkey-text button:hover {
    background-color: #ca9439;
    color: #000;
    font-weight: bold;
    border: 5px solid #ca9439;
   
  }
  
  /*start of popup*/
  
  
  
  
  /* unvisited link */
  a:link {
    color: #fff;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #fff;
  }
  
  /* mouse over link */
  a:hover {
    color: #ccc;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #fff;
  }
  
  
  
  
  
  .custom-shape-divider-bottom-1635508836 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    transform: scaleX(-1);
  }
  
  .custom-shape-divider-bottom-1635508836 svg {
      position: relative;
      display: block;
      width: calc(183% + 1.3px);
      height: 80px;
      transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1635508836 .shape-fill {
      fill: #FFFFFF;
  }
  
  .card-overlay{
    opacity:0;
    transition:0.5s ease-in-out;
  }
  
  .card:hover .card-overlay{
    opacity:0.8;
  }
  
  #title span {
    color:#000;
  }
  #title h2{
    color:#552b27;
  }
  /*about css*/
  .ansh_mainabout{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .ansh_about{
    width: 100%!important;
    max-width: 900px;
    padding-top: 40px;
    padding-bottom: 30px;
}
  .ansh_about h2{
    text-align: center!important;
    font-size: 33px!important;
    font-weight: 500!important;
    color: #13a6c4 !important;
  }
  .ansh_about p{
    text-align: center;
    padding: 10px;
    font-size: 17px;
  }
  .about_img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
  }
  .about_img img{
    background-color: #fff;
    border-radius: 6px!important;
    padding: 20px 10px;
    margin: 10px 20px;
    transition: all 200ms ease-in;
    width: 270px;
  }

/*footer css*/
.ansh_footer{
  background: url(wave_blue.gif) left top #f6faff repeat-x;
}
.ansh_sbfooter{
  margin-top: 40px;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
   justify-content: center;
    align-items: center;
     display: flex;
}
.ansh_ul{
  flex-basis: 25%;
  margin-bottom: 1rem;
}
.ansh_ul li{
  padding: 3px 0px;
  list-style: none;
}
.ansh_ul li strong{
  font-size: 18px;
  font-weight: 700;
  color: #000001;;
}
.ansh_ul p{
  margin-right: 14%;
  line-height: 1.66em;
    margin: 10px 0 10px 0;
    color: #8c8c91;
}
.ansh_ul li a{
  color: #8c8c91;
  text-decoration: none;
}
.ansh_icon li a i{
  padding-right: 10px;
}
.footer_base{
  border-top: solid 1px #776363;
  font-size: 12px;
  padding: 10px 0;
  color: #546473;
  align-items:left;
  justify-content: left;
  display: flex;
}
.footer_base a{
  padding: 0 5px;
  color: #546473;
  text-decoration: none;
}



 



